body{
    justify-content:center;
}

.pagecover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/LearningBirdTamil-cover.png);
    opacity:0.5;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
